body {
    margin: 0;
}

.container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 10% 140% 140% 10% ;
    grid-template-areas: 
    "headr headr headr headr"
    "main main main main"
    "main main main main"
    "footr footr footr footr";
}

.headr {
    grid-area: headr;
    width: 100vw;
    height: 10vh;
    background-color:  rgba(20, 21, 21, 0.384);
    position: fixed;
    top: 0;
}

.main {
    grid-area: main;
    width: 100vw;
    height: 100vh;
    background-color: antiquewhite;
}

.slider {
    width: 100vw;
    height: 70vh;
    background-color: #8b8383;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

#pic1 { background-image: url(photos/photo1.jpg);}
#pic2 { background-image: url(photos/photo2.jpg);}
#pic3 {background-image: url(photos/photo3.jpg);}
#pic4 {background-image: url(photos/photo4.jpg);}
#pic5 {background-image: url(photos/photo5.jpg);}
#pic6 {background-image: url(photos/photo6.jpg);}
#pic7 {background-image: url(photos/photo7.jpg);}
#pic8 {background-image: url(photos/photo8.jpg);}
#pic9 {background-image: url(photos/photo9.jpg);}

.picslider {
    height: 70vh;
    display:flex;
    flex-direction: row;
    overflow: hidden;
}

.picslider > div { 
    height: 70vh;
    min-width: 300px;
    border: solid #000 2px;
    box-shadow: #fff 2px 3px 5px;
    overflow: hidden;
}

svg:hover {
    transform: scale(1.1);
}  

svg {
    z-index: 10;
}

 @keyframes moveleft { 
    0% {left: 0px; }
    12% {left: 100px}
    24% {left: 200px}
    36% {left: 300px}
    48% {left: 400px }
    60%{left: 500px}
    73% {left: 600px}
    85% {left: 800px}
    100% {left: 1160px}
} 

.arrowleft:hover ~ .picslider {
    animation: moveleft 10s infinite;
    position: relative;
}

@keyframes moveright { 
    0% {left: 0px; }
    12% {left: -100px}
    24% {left: -200px}
    36% {left: -300px}
    48% {left: -400px }
    60%{left: -500px}
    73% {left: -600px}
    85% {left: -800px}
    100% {left: -1160px}
} 

.arrowright:hover ~ .picslider {
    animation: moveright 10s forwards infinite;
    position: relative;
}

.footr {
    grid-area: footr;
    width: 100vw;
    height: 10vh;
    background-color: rgba(20, 21, 21, 0.384);
    position: fixed;
    bottom: 0;
}
