body {
    margin: 0;
}

.container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 10% 120% 120% 10% ;
    grid-template-areas: 
    "headr headr headr headr"
    "main main main main"
    "main main main main"
    "footr footr footr footr";
}

.headr {
    grid-area: headr;
    width: 100vw;
    height: 10vh;
    background-color:  rgba(20, 21, 21, 0.384);
    position: fixed;
    top: 0;
}

.main {
    grid-area: main;
    width: 100vw;
    height: 400vh;
    background-color: antiquewhite;
}

.galeryphotos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2%;
}

#div1 {
    width: 25vw;
    height: 70vh;
    border: solid #000 2px;
    box-shadow: #fff 2px 3px 5px;
    background-image: url(photos/photo1.jpg);
    animation: galary1 15s infinite;
}

@keyframes galary1 {
    0% {background-image: url(photos/photo1.jpg)}
    12% {background-image: url(photos/photo2.jpg)}
    24% {background-image: url(photos/photo3.jpg)}
    36% {background-image: url(photos/photo4.jpg)}
    48% {background-image: url(photos/photo5.jpg)}
    60% {background-image: url(photos/photo6.jpg)}
    73% {background-image: url(photos/photo7.jpg)}
    85% {background-image: url(photos/photo8.jpg)}
    100% {background-image: url(photos/photo9.jpg)}
}

.setphotos1 {
    width: 80vw;
    height: 70vh;
    background-color: #8b8383;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2%;
    align-items: center;
    justify-content: center;
}

.setphotos1 > div {
    width: 30%;
    height: 65vh;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #fff;
    margin: 0.1%;
    padding: 1%;
    border: solid #000 2px;
    box-shadow: #fff 2px 3px 5px;
}

#photo1 {
     background-image: url(photos/photo1.jpg); 
    animation: photos1set 3s infinite;
}

@keyframes photos1set {
   0% { background-image: url(photos/photo1.jpg)}
   30% { background-image: url(photos/photo2.jpg)}
   70% { background-image: url(photos/photo3.jpg)}
   100% { background-image: url(photos/photo1.jpg)}
}

#photo2 {
    background-image: url(photos/photo4.jpg);
    animation: photos2set 3s infinite;
}

@keyframes photos2set {
    0% { background-image: url(photos/photo4.jpg)}
    30% { background-image: url(photos/photo5.jpg)}
    70% { background-image: url(photos/photo6.jpg)}
    100% { background-image: url(photos/photo4.jpg)}
}

#photo3 {
    background-image: url(photos/photo7.jpg);
    animation: photos3set 3s infinite;
}

@keyframes photos3set {
    0% { background-image: url(photos/photo7.jpg)}
    30% { background-image: url(photos/photo8.jpg)}
    70% { background-image: url(photos/photo9.jpg)}
    100% { background-image: url(photos/photo7.jpg)}
}

#div2 {
    width: 25vw;
    height: 70vh;
    border: solid #000 2px;
    box-shadow: #fff 2px 3px 5px;
    background-image: url(photos/photo1.jpg);
}

#div2:hover {
    animation: photoshover 1s ;
    animation-duration: 10s;
}

@keyframes photoshover {
    0% {background-image: url(photos/photo1.jpg)}
    12% {background-image: url(photos/photo2.jpg)}
    24% {background-image: url(photos/photo3.jpg)}
    36% {background-image: url(photos/photo4.jpg)}
    48% {background-image: url(photos/photo5.jpg)}
    60% {background-image: url(photos/photo6.jpg)}
    73% {background-image: url(photos/photo7.jpg)}
    85% {background-image: url(photos/photo8.jpg)}
    100% {background-image: url(photos/photo9.jpg)}
}

.photosslider {
    width: 80vw;
    height: 70vh;
    background-color: #8b8383;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2%;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

.photosslider > div {
    align-items: center;
    justify-content: center;
    bottom: 0;
}

#div3 { 
    width: 25vw;
    height: 70vh;
    border: solid #000 2px;
    box-shadow: #fff 2px 3px 5px;
    background-image: url(photos/photo1.jpg);
}

svg {
    width: 10vw;
    height: 10vh;

}

svg:hover {
    transform: scale(1.2px);
}

.footr {
    grid-area: footr;
    width: 100vw;
    height: 10vh;
    background-color: rgba(20, 21, 21, 0.384);
    position: fixed;
    bottom: 0;
}